<div class="panel-aside-inner panel-aside-post">
    <div class="panel-aside-content">
        <p class="directory-title">文章目录</p>
        <%- toc(page.content, {class: 'directory'}) %>
    </div>
    <%- partial('partials/aside/aside-lite-nav') %>
    <%- partial('partials/aside/aside-mobile') %>
    <div class="panel-aside-cover"></div>
</div>
